.divFriendname {
  background-color: var(--title-messagebox-bgcolor);
  color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
}

.friendname {
  background-color: transparent;
  font-size: 18px;
}
